body {
    background: url(https://cdn.pixabay.com/photo/2018/11/29/21/19/hamburg-3846525_960_720.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

.black {
    background-color:rgba(0,0,0,0.3);
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden; 
}
/* body tag랑 black class는 배경화면에 들어가는 거니까 신경쓰지 말 것*/

.searchbar {
    margin-top: 13rem;
    margin-left: 9.5rem;
}

form {
    height: 100%;
}

.searchbar input[type="text"]{
    width: 45rem;
    height: 2rem;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border-radius: 5px;
    border: none;
}

.searchbar input[type="submit"]{
    width: 2rem;
    height: 2rem;
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: rgba(75, 80, 76, 0.8);
    color: #FFFFFF;
    border-radius: 10px;
    border-radius: 5px 5px 5px 5px;
}

.clock {
    position: absolute;
    margin-top: 4rem;
    margin-left: 10rem;
    color: #FFFFFF;
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
}

/*-----------to do 와 스케쥴 표 관리하기-----------*/
.schedule{
    position: absolute;
    margin-top: -7rem;
    margin-left: 80rem;
    width: 27rem;
    height: 32rem;

  }

.todo{
    position: absolute;
    width: 27rem;
    height: 20rem;
    margin-top: 24rem;
    margin-left: 80rem;
  }



textarea {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    background-color: rgba(255,255,255,0.8);
    border: none;
    font-size: 1.3rem;
    white-space: pre;
    padding-left: 50;
    padding-right: 50;
    padding-bottom: 50;
    padding-top: 50;
    word-break: break-all;
    font-family: 'Hi Melody', cursive;
    font-size: 2rem;
}
/*
input[type="text"]{
    position: relative;
    display: inline-block;
    margin-top: 0px;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    background-color: rgba(255,255,255,0.8);
    border: none;
    font-size: 1.3rem;
    white-space: pre; 내부 자동줄바꿈 허용되게 할 것! 왜 이거 허용이 안되는지 모르겠음*/

label{
    display: block;
    position: relative;
    text-align: center;
    margin-top: 0;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    color: white; /*글자 색깔*/
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px; /*글자 여백임*/
    background: rgba(33, 49, 62, 0.87); /*현재는 주황색임*/
    margin-bottom: 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.savebtn{ /*TODOLIST에 들어가는 저장버튼임*/
    position: absolute;
    background: rgba(0, 0, 0, 0);
    margin-left: 8.5rem;
    color: white;
    border: none;
}
/*-----------------링크 달린 버튼들 관리하기-----------------*/
  
.buttons{
    position: absolute;
    box-sizing: border-box;
    height: 100px;
    margin-top: 35rem;
    margin-left: 10rem;
  }
  
.google, .twitter, .facebook, .naver, .goCalendar {
    background-color: rgba(221, 190, 161, 0.7);
    border: none;
    width: 60px;
    height: 60px;
    margin: 9px;
    border-radius: 8px;
    display: inline-block;
  }
  
.facebook img, .naver img, .goCalendar img, .google img, .twitter img{
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}